<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/site.css" />
        <script src="/scripts/app.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            {% for member in members %}
                <div class="col-md-4 face">
                    <p>{{ member.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
</html>
